* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(241, 231, 231);
}

header {
    width: 100%;
    height: 100px;
    background-color: white;
    margin-bottom: 50px;
}

header img {
    vertical-align: middle;
}

.project-header {
    padding-top: 20px;
    padding-left: 20px;
}

#name-project {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.container {
    height: 800px;
    width: 1100px;
    margin: 0 auto;
    background-color: white;
}

.action {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(216, 197, 197);
}

button {
    background-color: rgb(181, 171, 190) ;
    color: white;
    /* border-radius: 25px;
    border-style: 1px;
    padding: 5px; 10px;
    text-align: center; */
}

ul {
    list-style: none;
    padding-left: 25px;
}

h3 {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 20px;
    margin-bottom: 10px;
    margin-top: 15px;

}